<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joseph Soyigbe">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Joseph Soyigbe's professional website">
    <title>Joseph Soyigbe</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Joseph Soyigbe</h1>
        <nav>
            <a class="nav" href="../index.html">Home</a> |
            <a class="nav" href="../views/cv.html">CV</a> |
            <a class="nav" href="../views/contact.html">Contact me</a> |
            <a class="nav" href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <p>Hello World!</p>
        <ul>
            <li>Play basketball</li>
            <li>Watch YouTube</li>
            <li>Play games</li>
            <li>Explore and walk around</li>
            <li>Ride a bike</li>
        </ul>
    </div>
    <footer>&copy; 2025 Joseph Soyigbe</footer>
</body>
</html>