<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joseph Soyigbe">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Joseph Soyigbe's professional website">
    <title>Joseph Soyigbe</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Joseph Soyigbe</h1>
        <nav>
            <a href="../index.html">Home</a> |
            <a href="../views/cv.html">CV</a> |
            <a href="contact.html">Contact me</a> |
            <a href="../views/fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>

            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            
            <label for="comment">Comment:</label><br>
            <input type="text" id="comment" name="comment" style="width:250px; height: 150px;">
        </form>

        <table>
            <tr>
                <th>Contact Method</th>
                <th>Information</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>jsoyigbe@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>

            </tr>
            <tr>
                <td>LinkedIn</td>
            </tr>
        </table>
    </div>
    <br>
    <footer>&copy; 2025 Joseph Soyigbe</footer>
</body>
</html>