<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joseph Soyigbe">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Joseph Soyigbe's professional website">
    <title>Joseph Soyigbe</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Joseph Soyigbe</h1>
        <nav>
            <a href="../index.html">Home</a> |
            <a href="../views/cv.html">CV</a> |
            <a href="../views/contact.html">Contact me</a> |
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I love to do for fun</h2>
        <p>Hello World!</p>
        <ul>
            <li>Play basketball</li>
            <li>Watch YouTube</li>
            <li>Play games</li>
            <li>Explore and walk around</li>
            <li>Ride a bike</li>
        </ul>
    </div>
    <footer>&copy; 2025 Joseph Soyigbe</footer>
</body>
</html>