<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joseph Soyigbe">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Joseph Soyigbe's professional website">
    <title>Joseph Soyigbe</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 id="webname">Joseph Soyigbe</h1>
        <nav>
            <a class="nav" href="../index.html">Home</a> |
            <a class="nav" href="../views/cv.html">CV</a> |
            <a class="nav" href="contact.html">Contact me</a> |
            <a class="nav" href="../views/fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br>

            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            
            <label for="comment">Comment:</label><br>
            <input type="text" id="comment" name="comment"><br>

            <input type="submit" id="submit">
        </form>

        <table>
            <tr>
                <th>Contact Method</th>
                <th>Information</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>jsoyigbe@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>phone number</td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td>acc name</td>
            </tr>
        </table>
    </div>
    <br>
    <footer>&copy; 2025 Joseph Soyigbe</footer>
</body>
</html>